@CHARSET "UTF-8";

.nav {
	background-color: gray;
	overflow: hidden;
	padding-right: 11px;
	position: relative;
	top: -20px;
}

.navmsg {
	display: inline-block;
	width: auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.navmsgs {
	width: 200px;
	height: auto;
	background-color: white;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 15px;
	position:relative;
	top:-15px;
	z-index: 1;
}

.imgbox{
	width:200px;
	height: 300px;
	position: absolute;
	top:40px;
	overflow: hidden;
}

.banner{
	width: 400px;
	height: 300px;
	position: absolute;
	top:0px;
	left:0px;
}
.banner img {
	display: block;
	width: 200px;
	height:200px;
	float: left;
}

.change{
	position: relative;
	top: 200px;
}

.num{
	width: auto;
	height: auto;
}







